<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ej2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ej2Model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ej2View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ej2ViewModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61A4F93B1C468F36004AAFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A4F94F1C468F36004AAFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A4F9631C468FEC004AAFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A4F96C1C468FEC004AAFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A4F9861C46900E004AAFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A4F98F1C46900E004AAFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A4F9A81C46901D004AAFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A4F9B11C46901D004AAFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
